body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    
}
td {
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 60px;
}
.color {
    background-color: #3d7334;
}
